---
# Copy to homepage.yml (see .gitignore) and set real values. Used by
# lookup('template', .../services.yaml.j2) in run-podman-quadlet-homepage.yml.

homepage_tailscale_key: ""
tailscale_deviceid: ""

unifi_local_user: ""
unifi_local_password: ""

sonarr_api_key: ""
radarr_api_key: ""
lidarr_api_key: ""
prowlarr_api_key: ""

pihole_key: ""

uptime_kuma_status_slug: ""
homepage_netalertx_api_token: ""
homeassistant_long_lived_token: ""

esphome_username: ""
esphome_password: ""
