---
# Homepage services config
# https://gethomepage.dev/widgets/services/pihole/
# https://gethomepage.dev/widgets/services/unifi-controller/
# https://gethomepage.dev/widgets/services/tailscale/
- Network:
    - PiHole (micro.lan):
        icon: pihole.png
        href: http://micro.lan/admin
        description: PiHole on micro.lan
        widget:
          type: pihole
          url: http://micro.lan
          version: 6
          key: "{{ pihole_key }}"
    - PiHole (nuc.lan):
        icon: pihole.png
        href: http://nuc.lan/admin
        description: PiHole on nuc.lan
        widget:
          type: pihole
          url: http://nuc.lan
          version: 6
          key: "{{ pihole_key }}"
    - PiHole (opti.lan):
        icon: pihole.png
        href: http://opti.lan/admin
        description: PiHole on opti.lan
        widget:
          type: pihole
          url: http://opti.lan
          version: 6
          key: "{{ pihole_key }}"
    - Unifi Controller:
        icon: unifi.png
        href: https://micro.lan:8443
        description: Unifi Controller on micro.lan
        widget:
          type: unifi
          url: https://micro.lan:8443
          username: "{{ unifi_local_user }}"
          password: "{{ unifi_local_password }}"
    - Tailscale:
        icon: tailscale.png
        href: https://login.tailscale.com
        description: Tailscale VPN
        widget:
          type: tailscale
          deviceid: {{ tailscale_deviceid }}  # found on Tailscale dashboard machine overview page
          key: "{{ homepage_tailscale_key }}"

# https://gethomepage.dev/widgets/services/transmission/
# https://gethomepage.dev/widgets/services/sonarr/
# https://gethomepage.dev/widgets/services/radarr/
# https://gethomepage.dev/widgets/services/lidarr/
# https://gethomepage.dev/widgets/services/prowlarr/
- Downloads:
    - Transmission:
        icon: transmission.png
        href: http://micro.lan:9091/transmission/web/
        description: Transmission on micro.lan
        widget:
          type: transmission
          url: http://micro.lan:9091
          rpcUrl: /transmission/
          # username: <optional>
          # password: <optional>
    - Sonarr:
        icon: sonarr.png
        href: http://micro.lan:8989
        description: Sonarr on micro.lan
        widget:
          type: sonarr
          url: http://micro.lan:8989
          key: "{{ sonarr_api_key }}"
    - Radarr:
        icon: radarr.png
        href: http://micro.lan:7878
        description: Radarr on micro.lan
        widget:
          type: radarr
          url: http://micro.lan:7878
          key: "{{ radarr_api_key }}"
    - Lidarr:
        icon: lidarr.png
        href: http://micro.lan:8686
        description: Lidarr on micro.lan
        widget:
          type: lidarr
          url: http://micro.lan:8686
          key: "{{ lidarr_api_key }}"
    - Prowlarr:
        icon: prowlarr.png
        href: http://micro.lan:9696
        description: Prowlarr on micro.lan
        widget:
          type: prowlarr
          url: http://micro.lan:9696
          key: "{{ prowlarr_api_key }}"
