apiVersion: v1
kind: Pod
metadata:
  name: docker-registry
  labels:
    io.containers.autoupdate: "registry"
spec:
  containers:
    - name: docker-registry
      image: docker.io/registry:2
      ports:
        - containerPort: 5000
          hostPort: 5000
      volumeMounts:
        - mountPath: /var/lib/registry
          name: docker-registry-var-lib-registry
        - mountPath: /certs:z
          name: certs
          readonly: true
      env:
        - name: TZ
          value: Australia/Melbourne
        - name: REGISTRY_STORAGE_DELETE_ENABLED
          value: true
        - name: REGISTRY_HTTP_TLS_CERTIFICATE
          #value: /certs/certs/micro.blasco.id.au-fullchain.crt
          value: /certs/certs/self-ssl.crt
        - name: REGISTRY_HTTP_TLS_KEY
          #value: /certs/keys/micro.blasco.id.au.key
          value: /certs/keys/self-ssl.key
        - name: REGISTRY_HTTP_HEADERS_Access-Control-Allow-Origin
          value: "[http://{{ inventory_hostname }}:8000]"
        - name: REGISTRY_HTTP_HEADERS_Access-Control-Allow-Methods
          value: '[HEAD,GET,OPTIONS,DELETE]'
        - name: REGISTRY_HTTP_HEADERS_Access-Control-Allow-Credentials
          value: '[true]'
        - name: REGISTRY_HTTP_HEADERS_Access-Control-Allow-Headers
          value: '[Authorization,Accept,Cache-Control]'
        - name: REGISTRY_HTTP_HEADERS_Access-Control-Expose-Headers
          value: '[Docker-Content-Digest]'

  volumes:
    - name: docker-registry-var-lib-registry
      persistentVolumeClaim:
        claimName: docker-registry-var-lib-registry
    - name: certs
      #volumeMode: Filesystem
      hostPath:
        path: /home/bblasco/letsencrypt
        type: Directory

        # podman run -d --restart=always -p 5000:5000 -v docker-registry-var-lib-registry:/var/lib/registry /etc/letsencrypt:/certs:z:ro--name docker-registry docker.io/registry:2
