apiVersion: v1
kind: Pod
metadata:
  name: docker-registry-ui
  labels:
    io.containers.autoupdate: "registry"
spec:
  containers:
    - name: docker-registry-ui
      image: docker.io/joxit/docker-registry-ui:main
      ports:
        - containerPort: 80
          hostPort: 8000
      volumeMounts:
        - mountPath: /var/lib/registry
          name: docker-registry-ui-var-lib-registry
      env:
        - name: TZ
          value: Australia/Melbourne
        - name: SINGLE_REGISTRY
          value: true
        - name: REGISTRY_TITLE
          value: Docker Registry UI
        - name: DELETE_IMAGES
          value: true
        - name: SHOW_CONTENT_DIGEST
          value: true
        #- name: REGISTRY_URL
          #value: https://micro.lan:5000
        - name: NGINX_PROXY_PASS_URL
          value: "https://{{ inventory_hostname }}:5000"
        - name: SHOW_CATALOG_NB_TAGS
          value: true
        - name: CATALOG_MIN_BRANCHES
          value: 1
        - name: CATALOG_MAX_BRANCHES
          value: 1
        - name: TAGLIST_PAGE_SIZE
          value: 100
        - name: REGISTRY_SECURED
          value: false
        - name: CATALOG_ELEMENTS_LIMIT
          value: 1000
      # Note: Probe is on 127.0.0.1 rather than localhost
      # because localhost resolves to IPv6, which is not in use
      livenessProbe:
        exec:
          command:
            - wget
            - -q
            - -O
            - /dev/null
            - http://127.0.0.1/
        initialDelaySeconds: 30
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 3

  volumes:
    - name: docker-registry-ui-var-lib-registry
      persistentVolumeClaim:
        claimName: docker-registry-ui-var-lib-registry
