{# Rootful when podman_run_as_user is root (system quadlet + /run/podman/podman.sock). #}
{# Rootless otherwise (user quadlet + /run/user/UID/podman/podman.sock). #}
# https://forgejo.org/docs/latest/admin/actions/runner-installation/#setting-up-the-container-environment
# https://forgejo.org/docs/latest/admin/actions/registration/
{% set _socket_uid = podman_socket_uid | default(1000) %}
{% set _rootful = podman_run_as_user == 'root' %}
{% set _podman_sock = '/run/podman/podman.sock' if _rootful else '/run/user/' ~ _socket_uid ~ '/podman/podman.sock' %}
apiVersion: v1
kind: Pod
metadata:
  name: {{ inventory_hostname_short }}-runner
  annotations:
    volume.podman.io/mount-options-for-podman-socket: z
  labels:
    io.containers.autoupdate: "registry"
spec:
  containers:
    - name: {{ inventory_hostname_short }}-runner
      image: data.forgejo.org/forgejo/runner:13
      env:
        - name: TZ
          value: Australia/Melbourne
{% if not _rootful %}
        - name: XDG_RUNTIME_DIR
          value: /run/user/{{ _socket_uid }}
{% endif %}
        - name: DOCKER_HOST
          value: unix://{{ _podman_sock }}
        - name: RUNNER_CONFIG_B64
          value: "{{ lookup('template', playbook_dir + '/templates/forgejo-runner-config.yml.j2') | b64encode }}"
        - name: RUNNER_STATE_B64
          value: "{{ lookup('template', playbook_dir + '/templates/forgejo-runner-dot-runner.json.j2') | b64encode }}"
      volumeMounts:
        - mountPath: /data
          name: forgejo-runner-data
        - mountPath: {{ _podman_sock }}
          name: podman-socket
      securityContext:
{% if _rootful %}
        # System podman.sock is root-owned; runner must ping DOCKER_HOST at startup.
        runAsUser: 0
        runAsGroup: 0
        seLinuxOptions:
          type: spc_t
{% else %}
        runAsUser: 1000
        runAsGroup: 1000
        # Allow use of host podman.sock under SELinux enforcing (rootless user socket).
        seLinuxOptions:
          type: spc_t
{% endif %}
      command:
        - /bin/sh
        - -ec
        - |
          cd /data
          echo "$RUNNER_CONFIG_B64" | base64 -d > /data/config.yml
          echo "$RUNNER_STATE_B64" | base64 -d > /data/.runner
          exec forgejo-runner --config /data/config.yml daemon
      livenessProbe:
        exec:
          command:
            - /bin/sh
            - -c
            - pgrep -x forgejo-runner
        initialDelaySeconds: 60
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
  volumes:
    - name: forgejo-runner-data
      persistentVolumeClaim:
        claimName: forgejo-runner-data
    - name: podman-socket
      hostPath:
        path: {{ _podman_sock }}
        type: Socket
